
body {
    background-color: #303030;
    margin: 0;
    font-family: "lato", sans-serif;
    margin-bottom: 2000px;
}


.navButton {
    text-decoration: none;
    color: #303030;
    margin-left: 5%;
    transition: 0.3s ease-in-out;
}
.navButton:hover {
    color: #e48b25;
}
.navBar {
    display: flex;
    list-style: none;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    padding: 15px;
}
.navRed {
    background-color: red;
    height: 95%;
}
.navBarMedia {
    display: none;
    position: fixed;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    padding: 45px 15px 35px 15px;
    width: 100%;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}
.barMedia {
    display: none;
    position: fixed;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    width: 20px;
    margin: 10px 0 0 15px;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 600px) {
    .navBar {
        display: none;
    }
    .navBarMedia {
        display: flex;
        flex-direction: column;
    }
    .barMedia {
        display: block;
    }
    .barMedia:hover {
        transform: translateY(-5px);
    }
    .navButton {
        margin-left: 15px;
        margin-top: 25px;
    }
}